name: mm4cc-web-${SITE_MODE}
services:
  app:
    image: nginx
    restart: unless-stopped
    volumes:
      - ./site:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - ${PORT:-8082}:80
  tunnel:
    image: cloudflare/cloudflared
    env_file: ${SITE_MODE}.env
    command: tunnel run
    restart: unless-stopped
